body{
	padding: 0;
	margin: 0;
	background-color: #000;
	color: #FFF;
}

#player{
	z-index: 1;
}

#player2{
	visibility: hidden;
	position: absolute;
	left: -999em;
}

#next{
	/*background-color: #000;*/ /* issue with BG and webfont */
	z-index: 2;
	position: fixed;
	top: 0;
	right: 0;
	margin: 0;
}

#next a{
	text-transform: uppercase;
	text-decoration: none;
	/* font-family: helvetica, arial, sans-serif; */
	/* font-family: 'MedievalSharp', cursive; */
	/* font: 60px/68px 'OrotundCapitalsHeavy', Arial, sans-serif; */
	font: 60px/68px 'OrotundHeavy', Arial, sans-serif;
	color: #fff;
	padding-top: 0;
	padding-bottom: 60px;
}

footer{
	text-align: center;
	width: 100%;
	font-family: helvetica, arial, sans-serif;
	font-size: 14px;
}

a.gunt-logo{
	color: #8ED200;
	text-decoration: none;
	font-weight: bold;
}