#player2{
	visibility: hidden;
	position: absolute;
	left: -999em;
	/*display: none;*/
}

#next a{
	font-size: 125px;
	text-transform: uppercase;
	text-decoration: none;
	font-family: helvetica, arial, sans-serif;
	margin: 0;
	color: #000000;
}